<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Age</th>
    <th>Email</th>
    <th>Minutes Left</th>
    <th>Megabytes Left</th>
    <th>Messages Left</th>
    <th>Payment Amount</th>
  </tr>
  <tr>
    <td>{{ client.firstName }}</td>
    <td>{{ client.lastName }}</td>
    <td>{{ client.age }}</td>
    <td>{{ client.email }}</td>
    <td>{{ client.minutesLeft }}</td>
    <td>{{ client.megabytesLeft }}</td>
    <td>{{ client.messagesLeft }}</td>
    <td>{{ client.paymentAmount }}</td>
  </tr>
</table>
